.form_main{
    position: relative;
    left: 400px;
    top:0px;
    /* border: 2px solid black; */

}
.form_div{
    border: 2px solid black;
    border-radius: 20px;
    width: 400px;
    height: 350px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLOTSGY7YCFsftLyR8niUbPDj50UUAri_-dg&s");

    /* position: absolute; */

   
}
form{
    position: relative;
    top: 20px;
    left: 1px;
    text-align: center;

}
input{
    width: 260px;
    height: 35px;
    color: blueviolet;
   
}
label::first-letter{
    color: red;
}
label{
    color: oldlace;
}
h6{
    color: red;
}

